<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <springProfile name="local">
        <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            </encoder>
        </appender>

        <logger name="org.springframework" level="INFO" />
        <logger name="fi.liikennevirasto.ais_distributor" level="TRACE" />

        <root level="WARN">
            <appender-ref ref="stdout" />
        </root>
    </springProfile>

    <springProfile name="dev,test,prod">
        <appender name="journal" class="org.gnieh.logback.SystemdJournalAppender" />

        <logger name="org.springframework" level="INFO" />
        <logger name="fi.liikennevirasto.ais_distributor" level="INFO" />

        <root level="WARN">
            <appender-ref ref="journal" />
        </root>
    </springProfile>
</configuration>
